.FooterSection {
    width: 100%;
    padding: 20px 5px;
    background-color:  #1976d2;
    color: #fff;
    text-align: center;
}

.FooterLink {
    color: #fff
}


.FooterLink:hover {
    color: hotpink;

}