.Desk{
    background-color: red;
}
.Desktop {
    background-color: #fff;
    width:100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

.Desktop img{
   object-fit: cover;
}

.IconContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 5px;
  
}

@media screen and (max-width: 780px) {
    .Desk{
        display: none;
    }  
}